.word-heading {
  text-align: center;
}
.ui.card {
  width: 85%;
}
.ui.card > .content {
  background-color: #4885ed;
}

.prompt {
  width: 80%;
}

.translation-list {
  margin-top: 20px;
}

.search-bar {
  margin: 20px auto;
}

.ui.icon.input {
  width: 100%;
}
